{% extends 'GPGestionBundle::layout-default.html.twig' %}

{% block incontent %}
	<h1 class="page-header">Liste des interventions</h1>
	
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>#</th>
					<th>#</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1,001</td>
					<td>1,001</td>
					<td>1,001</td>
					<td>1,001</td>
				</tr>
			</tbody>
		</table>
	</div>		
{% endblock %}

