{% extends 'GPFrontBundle::layout-default.html.twig' %}

{% block incontent %}

	<h1 class="page-header">Accueil</h1>
	<div>
    	<form action="">
        	<select name = "filter_projet">
            	<option></option>
                			
                {% if projets|length > 0 %}
				{% for projet in projets %}
									
					<option value = "{{ projet.id }}" >{{ projet.nom }}</option>

				{% endfor %}
				{% endif %}
            </select>
                	
                	
         </form>
	</div>

{% endblock %}