{# add navigation current nav mark #}
{% set route = app.request.get('_route') %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Administration{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {% block stylesheets %}

        {% stylesheets filter='cssrewrite'
        '@GPGestionBundle/Resources/public/css/bootstrap.min.css'
        '@GPGestionBundle/Resources/public/css/bootstrap-theme.min.css'
        '@GPGestionBundle/Resources/public/css/fullcalendar.min.css'
        '@GPGestionBundle/Resources/public/css/backoffice.css'
        '@GPGestionBundle/Resources/public/css/bootstrap-datepicker.min.css'
        '@GPGestionBundle/Resources/public/css/bootstrap-datetimepicker.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

    {% endblock %}
    
    {% block javascripts %}

        {% javascripts
        '@GPGestionBundle/Resources/public/js/jquery-3.1.1.min.js'
        '@GPGestionBundle/Resources/public/js/bootstrap.min.js'
        '@GPGestionBundle/Resources/public/js/moment.min.js'
        '@GPGestionBundle/Resources/public/js/fullcalendar.min.js'
        '@GPGestionBundle/Resources/public/js/fullcalendar_local_fr.js'
        '@GPGestionBundle/Resources/public/js/bootstrap-datepicker.min.js'
        '@GPGestionBundle/Resources/public/js/bootstrap-datetimepicker.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        <script>
            // get locale
            locale = "{{ app.request.locale }}";
            // get route
            route = "{{ route }}";
        </script>
    {% endblock %}    
</head>
<body>

	{% block header %} 
        
	{% endblock %}

	{% block content %}{% endblock %}


	{% block footer %}{% endblock footer %}


</body>
</html>

