{% extends 'GPGestionBundle::layout-default.html.twig' %}

{% block incontent %}
	<a href="{{ path("gb_gestion_bundle_parametrage_clients_new") }}" class="pull-right btn btn-success" >Nouveau</a>

	<h1 class="page-header">Liste des clients</h1>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Id</th>
				</tr>
			</thead>
			{% if items|length > 0 %}
			<tbody>
				{% for item in items %}
				<tr>
					<td><a href = "{{ path("gb_gestion_bundle_parametrage_clients_edit", { 'id': item.id }) }}">{{ item.nom }}</a></td>
					<td>{{ item.id }}</td>
				</tr>
				{% endfor %}
			</tbody>
			{% endif %}
		</table>
	</div>	
{% endblock %}