body {
    padding-top: 50px;
}
.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.navbar-fixed-top {
    border: 0 none;
}
.sidebar {
    display: none;
}
@media (min-width: 768px) {
.sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 51px;
    z-index: 1000;
}
}
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #428bca;
    color: #fff;
}
.main {
    padding: 20px;
}
@media (min-width: 768px) {
.main {
    padding-left: 40px;
    padding-right: 40px;
}
}
.main .page-header {
    margin-top: 0;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
    display: inline-block;
}

.panel-body .btn:not(.btn-block) { width:345px; height:120px; margin-bottom:10px; }

.flash-messages p {
    padding: 15px;
}

.panel-item a {
	background-color: #fff;
	background-position: -30px;
	display: block;
	float: left;
	height: 110px;
	width: 140px;
	color: #565656;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition-property: background-position,
		-webkit-border-bottom-left-radius, -webkit-box-shadow;
	-moz-transition-property: background-position,
		-moz-border-radius-bottomleft, -moz-box-shadow;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-property: background-position, border-bottom-left-radius,
		box-shadow;
	transition-duration: 0.8s;
}

.panel-item a:hover,.panel-item a:focus,.panel-item a:active
	{
	background-position: 0;
	-webkit-border-bottom-left-radius: 50% 20px;
	-moz-border-radius-bottomleft: 50% 20px;
	border-bottom-left-radius: 50% 20px;
	-webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 10;
}

.panel-item img {
    margin: 0 auto;
}

.panel-item span {
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
}
