{% extends 'GPGestionBundle::layout-default.html.twig' %}

{% block content %}

    <div id="layout-view" class="view view-index">
       <div>
       Hello world
       </div>
    </div>
{% endblock %}

