{% extends '::gestion.html.twig' %}

{% block header %}
{% endblock %}

        <!-- container content - BEGIN -->
        <div class="container container-content">
            <div id="layout-view" class="view view-villa-all">
{% block content %}
{% endblock %}
</div>
</div>
{% block footer %}
{% endblock %}