{% extends '::gestion.html.twig' %}

{% block header %}

	<nav class="navbar navbar-default navbar-fixed-top"> 
		<div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Gestion PLV</a>
	        </div>	
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#">Accueil</a></li>
	            <li><a href="{{ path("gb_gestion_bundle_planning") }}">Planning</a></li>
	            <li><a href="{{ path("gb_gestion_bundle_parametrage") }}">Paramétrage</a></li>
	            <li><a href="{{ path("gb_gestion_bundle_options") }}">Options</a></li>
	            {#}
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="#">Action</a></li>
	                <li><a href="#">Another action</a></li>
	                <li><a href="#">Something else here</a></li>
	                <li role="separator" class="divider"></li>
	                <li class="dropdown-header">Nav header</li>
	                <li><a href="#">Separated link</a></li>
	                <li><a href="#">One more separated link</a></li>
	              </ul>
	            </li>
	            {#}
	          </ul>
	        </div><!--/.nav-collapse -->			        
	        			
		</div>
	</nav>    
			
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active">
						<a href="#">
						Overview
						<span class="sr-only">(current)</span>
						</a>
					</li>
					<li>
						<a href="#">Reports</a>
					</li>
				</ul>
			</div>
			
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				{% block incontent %}
				
				
				{% endblock %}
				
			</div>
		</div>
	</div>
	
	
{% endblock %}

{% block footer %}
{% endblock %}